#logoutdiv, .jumbotron, .form-inline{
    visibility: hidden;
}

#jokes {
    text-align: center;
}

/*form*/

.form-group {
    padding: 20px;
}

#jokeoutputcontent{
  border: 1px solid green;
  padding: 100px;
}
