/*Hidden elements */
#logoutdiv, .jumbotron, .form-inline{
    visibility: hidden;
}

/*Full page */
#body {
  background-color: #87BDBA;
}


#jokes {
    text-align: center;
}

/*form*/

.form-group {
    padding: 20px;
}

#jokeoutputcontent{
  border: 1px solid green;
  padding: 80px;
}
